/****************************************************************************
 *                                 Headings                                *
 ****************************************************************************/

.formbar-form h1.page {
  font-size: 30px;
  margin-top: 5px;
}

.formbar-form h2.section {
  font-size: 28px;
}

.formbar-page h2 {
  margin-top: 5px;
}

.formbar-form h3.section {
  font-size: 25px;
}

.formbar-form h4.section {
  font-size: 22px;
}

.formbar-form fieldset legend {
  font-size: 21px;
  margin-bottom: 10px;
}

.formbar-form fieldset fieldset legend {
  font-size: 17px;
  margin-bottom: 7px;
}

.formbar-form fieldset fieldset fieldset legend {
  font-size: 14px;
  margin-bottom: 4px;
}

/****************************************************************************
 *                                   Form                                   *
 ****************************************************************************/

button {
  margin-right: 15px;
}

.button-pane {
  margin: 10px 0px;
}


/****************************************************************************
 *                                  Fields                                  *
 ****************************************************************************/

/************
 *  Labels  *
 ************/

label {
    display: inline;
}

label.left {
    display: block;
    margin-top: 0.5em;
    margin-right: -20px;
}

label.left.radio {
    padding-left: 0px;
}

label.right {
    display: block;
    margin-top: 0.5em;
    margin-left: -20px;
}
label.top {
    padding: 0;
}
label.checkbox, label.radio {
    margin-top: 0.1em;
    margin-bottom: 0;
}

/********************
 *  Field elements  *
 ********************/

/* If indent is set for the renderer than indent all child elements of the
 * form group except it is the main label (.form-control) */
.form-group.has-indent > *:not(.control-label) {
    margin-left: 18px;
}

.formbar-form textarea {
  height: auto !important;
}

select[multiple], textarea {
  /* Reset heigt of the field elements which have been modified by the
   * border-box modell */
  height: auto !important;
}

div.readonlyfield {
  border-radius: 3px 3px 3px 3px;
  background-color: #e0e0e0;
  padding: 8px;
  margin-bottom: 10px;
  min-height: 14px;
}

/***************
 *  Helptexts  *
 ***************/

.text-generic {
  padding: 0.5em;
}

.text-help {
  position: relative;
  top: 3px;
  font-size: 0.8em;
  color: #707070;
}

.text-error, .help-block {
  position: relative;
  font-size: 0.8em;
  margin-bottom: 0px;
}

.tooltip{
  font-size: 0.9em;
  font-weight: 200;
}

.tooltip-inner{
  max-width:600px;
}

// Give info sign another color to show that it is an independent function
.glyphicon-info-sign{
  color: #707070;
}

/****************************************************************************
 *                              Outline/Affix                               *
 ****************************************************************************/

.formbar-outline {
  margin-top: 10px;
}

.formbar-page {
  display: none;
}

.active {
  display: block;
}

// Media depended affix CSS.
@media(max-width:767px){
  .formbar-outline.affix {
    position: static;
    width: 100%;
    top: 0;
    z-index:10;
  }
}

@media(min-width:768px){
  .formbar-outline.affix {
    position: fixed;
    top: 0;
    z-index:10;
    width: 157.5px;
  }
}
@media(min-width:992px){
  .formbar-outline.affix {
    width: 212.5px;
  }
}
@media(min-width:1200px){
  .formbar-outline.affix {
    width: 262.5px;
  }
}

a.list-group-item.selected {
    background-color: #f5f5f5 !important;
}

.affix{
    position: static;
}

/****************************************************************************
 *                                   Misc                                   *
 ****************************************************************************/

.formbar-form table td {
  vertical-align: middle;
}

.formbar-form table td input {
  margin-bottom: 0px;
}

.formbar-form table td div.readonlyfield {
  margin-bottom: 0px;
}

// used for the formbar editor
.formbar-preview-window {
    margin-top: 5px;
    padding: 5px;
    background-color: #ffd9d9;
}

.formbar-new-value {
    background: #edff76;
}

.formbar-del-value {
    text-decoration: line-through;
}

/* Bootstrap overwrites */
.formbar-conditional .list-group-item {
    border-top-width: 1px !important;
}
